@import "tailwindcss";

@keyframes fade-in {
  from {
    opacity: 0.3;
    transform: translateY(3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-in-out;
}
